
/* header-start */
.header {
    background-color: #FFF4E7;
    height: auto;
    Width: 100%;
}
/* nav start */
.navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    margin-right: 180px;
}

.text {
    margin-left: 40px;
}

.nav-text a {
    text-decoration: none;
    color: black;
}

.nav-text {
    font-size: 18px;
    margin-top: 13px;
}

nav h1 {
    margin-top: 50px;
    font-size: 45px;
}
/* nav end */

/* header-section-two-start */
.header-section-two {
    text-align: center;
    margin: 4.5px;
}

.header-section-two h1 {
    font-size: 60px;
}

.header-title {
    margin-top: 7px;

}

.banner img {
    height: 500px;
    width: 1050px;
    margin-top: 50px;
    margin-bottom: 45px;
}

.button {
    background-color: #FD9010;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
/* header-section-two */
/* header end */

/* main */
/* section one start */
.one {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 200px;
}

.one-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 15px;
}

.one {
    margin-top: 50px;
}

.one-text {
    width: 50%;
}

.one-img img {
    height: 300px;
    width: 300px;

}

.one-title {
    font-size: 40px;
    color: gray;



}

.of-our {
    color: black;
}

.feautures {
    color: #FD9010;
}

.button-one {
    background-color: #FD9010;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;

}
/* section one end */

/* section two start */

.two {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    gap: 100px;
    align-items: center;
    margin-top: 50px;
}
.two-sub {
    display: grid;
    width: 50%;
    gap: 15px;
}

.yello-bar {
    height: 60px;
    width: 5px;
    background-color: #FD9010;
    position: relative;
    left: -10px;
    bottom: -90px;
}
.two-title {
    font-size: 30px;
    padding-left: 10px;
}
.two-text {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.314);
}
.two-img img {
    width: 100%;
}

.big-button {
    height: 100px;
    width: 200px;
    background-color: #FD9010;
    position: relative;
    left: 570px;
    bottom: 190px;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

/* section two end *

/* third-section  start*/
.all-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.third {
    margin-top: 50px;
}

.third-sub {
    margin-left: 150px;
    margin-right: 150px;
}

.icons {
    text-align: center;
    border: 1px solid #FF900E;
    ;
    height: 150px;
    width: 150px;
    padding: 35px 35px;
}

.third-title {
    font-size: 30px;
}

.icons {
    background: linear-gradient(#201202 0 0) var(--f, 0) / var(--f, 0) no-repeat;
    transition: 0.4s, background-position 0s;
  }
.icons:hover {
    --f: 100%;
    color: #fff;
  }


/* third-section  end*/








